body {
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: 'pantry items, perishable items, Frozen, Pantry, Meat' ;
    gap: 1px;
    padding: 1px;
}

.list {
    font-size: x-large;
    border-style: solid;
    border-width: 10px;
    width: fit-content;
    border-color: pink aqua pink;
    margin: 150px;
    background-color: rgb(128, 84, 84);
    color: white
}

.pantry1 {
    border-style: solid;
color: white;
    border-width: 10px;
    width: 250px;
    border-color: aqua pink aqua;
    margin: 10px;
    background-color: rgb(219, 219, 87);
    
}

.pantry {
    margin: 10px;
    border-width: 10px;
    border-color: aqua pink aqua;
    width: 250px;
    background-color: rgb(143, 230, 130);
    border-style: solid;
    padding: 10px;
}
.frozen {
    border-style: solid;
    border-width: 10px;
    width: 250px;
    border-color: aqua pink aqua;
    margin: 10px;
    background-color: rgb(234, 143, 207);
    padding: 10px;
}

.meat {
    border-style: solid;
    border-width: 10px;
    border-color: aqua pink aqua;
    width: 250px;
    margin: 10px;
    background-color: rgb(133, 211, 235);
    color: black;
    padding: 10px;
}
img{
    width: 250px;
    margin: 10px;
   padding-left: 300px;
   margin: 50px;
   border: 100px;
    }

.perishable {
    border-style: solid;
    margin: top 10px;
    border-width: 10px;
    width: 250px;
    border-color: aqua pink aqua;
    margin: 10px;
    background-color: lavender;
    color: blueviolet;
    padding: 10px;
}
.fruit {
    border-style: solid;
    border-width: 10px;
    width: 250px;
    border-color: aqua pink aqua;
    margin: 10px;
    background-color:rgb(236, 185, 85);
    padding: 10px;
}


