.puppy {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  flex-basis: 20%;
  align-items: center;
  gap: 5px;
}

.puppy button {
  margin-top: 20px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}